<!DOCTYPE html>
<html>
<head>
  <title>Teachlah</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</head>
<body>
    
    <!-- Dropdown Structure -->
   <ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">My Courses</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
   </ul>

   <ul id="dropdown2" class="dropdown-content">
  <li><a href="#!">My Profile</a></li>
  <li><a href="#!">My Courses</a></li>
  <li class="divider"></li>
  <li><a href="#!">Logout</a></li>
   </ul>


    <header>
    <nav class="brown lighten-4 z-depth-2">
    	<div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Teachlah</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Courses</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
         <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Saraku<i class="material-icons right">arrow_drop_down</i></a></li>
       </ul>
       <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Courses</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
        <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Saraku<i class="material-icons right">arrow_drop_down</i></a></li> 
      </ul>
    </div>
  </nav>
    </header> 

	<main>
		<div class="container">
          <%= yield %>
     </div>
	</main>

         <footer class="page-footer brown lighten-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Teachlah</h5>
                <p class="grey-text text-lighten-4">Make the difference with teachlah - Education accessible to all.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Teachlah
            <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>

</body>

<script>
$(".button-collapse").sideNav();
$(".dropdown-button").dropdown();
</script>

</html>
